 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 :root {
   --color-bg-dark: #192a33;
   --color-bg-light: #1f3640;
   --color-gray: #a8bec9;
   --color-gray-dark: #7a8991;
   --color-yellow: #f2b238;
   --color-yellow-dark: #cd8d16;
   --color-blue: #30c4be;
   --color-blue-dark: #12Bc89;
   --shadow-y: 6px
 }

 body {
   background-color: var(--color-bg-dark);
   color: var(--color-gray);
 }

 .App {
   display: flex;
   min-height: 100vh;
   align-items: center;
   justify-content: center;
 }

 .container {
   max-width: 450px;
   width: 100%;
   margin-inline: auto;
   padding: 2rem 1rem;
 }

 html {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-transform: uppercase;
   font-size: 16px;
 }

 /*utilize*/
 .card {
   padding: 25px;
   display: flex;
   flex-direction: column;
   gap: 25px;
   border-radius: 15px;
   background-color: var(--color-bg-light);
   text-align: center;
 }

 .text-light {
   color: var(--color-gray-dark);
 }

 .text-lg {
   font-size: 1.25rem;
 }

 .text-xlg {
   font-size: 1.5rem;
 }

 .text-2xlg {
   font-size: 1.75rem;
 }

 .text-blue {
   color: var(--color-blue);
 }

 .text-yellow {
   color: var(--color-yellow);
 }

 .btn {
   background-color: var(--color-gray);
   border: none;
   font-size: 1.125rem;
   font-weight: bold;
   padding: 12px 25px;
   text-transform: uppercase;
   cursor: pointer;
   color: var(--color-bg-light);
   border-radius: 10px;
   display: inline-block;
   /* box-shadow: 0 var(--shadow-y) 0 var(--color-gray-dark); */
   margin-bottom: 6px;
   transition: all 0.2s;
 }

 .btn-yellow:hover {
   transform: translateY(-2px);
   box-shadow: 0 8px 0 var(--color-yellow-dark);
 }

 /* .btn-blue:active {
   --shadow-y: 4px;
   transform: translateY(2px);
   box-shadow: 0 4px 0 var(--color-blue-dark);
 } */

 .btn-blue:hover {
   transform: translateY(-2px);
   box-shadow: 0 8px 0 var(--color-blue-dark);
 }

 .btn-yellow:active {
   --shadow-y: 4px;
   transform: translateY(2px);
   box-shadow: 0 4px 0 var(--color-yellow-dark);
 }

 .btn-yellow {
   background-color: var(--color-yellow);
   box-shadow: 0 var(--shadow-y) 0 var(--color-yellow-dark);
 }

 .btn-blue {
   background-color: var(--color-blue);
   box-shadow: 0 var(--shadow-y) 0 var(--color-blue-dark);

 }

 .btn-sm {
   --shadow-y: 4px;

 }

 .btn-sm:hover {
   --shadow-y: 6px;

 }

 .btn-sm:active {
   --shadow-y: 3px;

 }
 .shadow-gray{
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
 }
 .shadow-blue{
  box-shadow: 0 8px 0 var(--color-blue-dark);
 }
 .shadow-yellow{
  box-shadow: 0 8px 0 var(--color-yellow-dark);
 }
 .icon {
   display: inline-block;
 }

 .icon svg {
   fill: var(--color-gray);
   height: 50px;
   width: 50px;
   vertical-align: middle;
 }
 .icon-sm svg {
height: 30px;
}
.icon-lg svg {
  height: 65px;
  }
  .icon-blue svg {
    fill: var(--color-blue);    
    }
  .icon-yellow svg {
fill: var(--color-yellow);    
}
.icon-dark svg {
  fill: var(--color-bg-dark);    
  }
 /*start*/
 .start {
   display: flex;
   flex-direction: column;
   gap: 25px;
 }

 /* .start__header{
  display: flex;
  align-items: center;
 } */
 .start__players {
   background-color: var(--color-bg-dark);
   padding: 10px;
   border-radius: 15px;
   display: flex;
   align-items: center;
   box-shadow: inset 0 0 8px rgba(0, 0, 0, 0);
 }

 .start__players span {
   width: 171px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 15px 10px;
   border-radius: 10px;
   cursor: pointer;
 }

 .start__players--active {
   background-color: var(--color-gray);
   box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
 }

 .start__btns {
   display: flex;
   flex-direction: column;
   gap: 12px;
 }
 /*board*/
 .board__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:50px;
 } 
 .board__turn{
border-radius:5px ; 
background-color: var(--color-bg-light);
padding: 8px 12px;
display: flex;
align-items: center;
gap: 4px;
box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
}
.border__restart svg{
height: 20px;
display: flex;
align-items: center;
transform-origin:center ;
transition: all 0.3;
}
.board__restart:active svg{
  transform: rotate(180deg);
}
.board__body{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:25px ;
}
.board__body .card{
  display: flex;
 align-items: center;
 height: 120px;
 cursor: pointer;
 padding-inline: 10px;
}
.board__body .active.shadow-blue{
  background-color: var(--color-blue);
}
.board__body .active.shadow-yellow{
  background-color: var(--color-yellow);
}
/*card footer*/
.coody__footer{
  display: grid;
  gap:20px ;
margin-top: 30px;
grid-template-columns: repeat(3,1fr);
}
.coody__footer .card{
gap: 15px;
}
.bg-yellow{
  background-color: var(--color-yellow-dark);
}

.bg-gray{
  background-color: var(--color-gray-dark);
}

.bg-light{
  background-color: var(--color-blue-dark);
}